@model IEnumerable<string>
@{
    bool horizontal = ((bool)(ViewContext.RouteData.Values["horizontalLayout"] ?? false));
    string wrapperClasses = horizontal ? "btn-group btn-group-sm btn-default btn-groupjustified" : null;
}

<div class="@wrapperClasses">
    @Html.ActionLink("All Categories", "List", "Tool", null, new { @class = horizontal ? "btn btn-default btn-sm" : "btn btn-block btn-default btn-lg col-md-offset-2", style = "font-size:90%" })
    @foreach (var link in Model)
    {
        @Html.RouteLink(link, new {controller = "Tool", action = "List", category = link, page = 1},
                              new { @class = (horizontal ? "btn btn-default btn-sm" : "btn btn-block btn-default btn-lg col-md-offset-2") + (link == ViewBag.SelectedCategory ? " btn-primary" : ""), style="font-size:90%" })
    }
</div>