@model IEnumerable<string>
@{
    bool horizontal = ((bool)(ViewContext.RouteData.Values["horizontalLayout"] ?? false));
    string wrapperClasses = horizontal ? "btn-group btn-group-sm btn-default btn-groupjustified" : null;
}

<div class="@wrapperClasses">
    @Html.ActionLink("All Categories", "List", "Tool", null, new { @class = horizontal ? "btn btn-default btn-sm" : "btn btn-block btn-default btn-lg col-md-offset-1", style = "font-size:90%; color: #000000; background: #DEDE28; border-color: #000000;" })
    @foreach (var link in Model)
    {
        @Html.RouteLink(link, new {controller = "Tool", action = "List", category = link, page = 1},
                                   new { @class = (horizontal ? "btn btn-default btn-sm" : "btn btn-block btn-default btn-lg col-md-offset-1") + (link == ViewBag.SelectedCategory ? " btn-primary" : ""), style = "font-size:90%; color: #000000; border-color: #000000; background: #DEDE28;" })
    }
    <div class="hidden-xs col-md-offset-1">
        <img src="~/Content/Images/spacer.png" class="img-thumbnail" style="width:131px; height: 5px; opacity:0.0" />
    </div>
    <div class="hidden-xs col-md-offset-1">
        <a href="#"><img src="~/Content/Images/find_facebook.jpg" class="btn-block" style="width:131px; height: auto; margin-right: 0px; margin-bottom: 5px"></a>
    </div>
    <div class="hidden-xs col-md-offset-1">
        <a href="#"><img src="~/Content/Images/follow_twit.jpg" class="btn-block" style="width:131px; height: auto; margin-right: 0px"></a>
    </div>
</div>