@model SJDToolHire.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "SJD Tool Hire: Checkout";
}

@using (Html.BeginForm())
{
    <div class="well col-md-offset-1">
        <h2>Check out now</h2>
        <p>Please enter your details, and we'll reserve your tools for you.</p>
        @Html.ValidationSummary()
        <div class="form-group">
            <h3>Customer Name:</h3>
            @Html.TextBoxFor(x => x.Name, new {@class = "form-control" })
        </div>

        <h3>Customer Address:</h3>

        @foreach (var property in ViewData.ModelMetadata.Properties)
        {
            if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
            {
                <div class="form-group">
                    <label>@(property.DisplayName ?? property.PropertyName)</label>
                    @Html.TextBox(property.PropertyName, null, new
                    {
                        @class = "form-control"
                    })
                </div>
            }
        }

        <div class="text-center">
            <input class="btn btn-primary" type="submit" value="Complete order" />
        </div>
    </div>
}