@{
    ViewBag.Title = "SJD Tool Hire: Order Submitted";
}

<div class="well">
    <h2>Thanks!</h2>
    <p>We appreciate your business.</p>
    <p>Your tools will be reserved ready for collection within the hour.</p>
    <p>You can collect your order any time during our opening hours:</p>
    <dl class="dl-horizontal">
        <dt>Monday:</dt>
        <dd>08:00 - 17:30</dd>
        <dt>Tuesday:</dt>
        <dd>08:00 - 17:30</dd>
        <dt>Wednesday:</dt>
        <dd>08:00 - 17:30</dd>
        <dt>Thursday:</dt>
        <dd>08:00 - 17:30</dd>
        <dt>Friday:</dt>
        <dd>08:00 - 17:30</dd>
        <dt>Saturday:</dt>
        <dd>08:00 - 17:30</dd>
        <dt>Sunday:</dt>
        <dd>10:00 - 15:00</dd>
    </dl>
    <p><em>Regards, the SJD Tool Hire Team.</em></p>
    
</div>